<div class="container">
  <h2>Listado de Customers</h2>
  <a class="btn btn-primary" routerLink="/customers/add">Crear Customer</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.email }}</td>
        <td class="d-flex justify-content-around">
          <a class="btn btn-info" routerLink="/customers/edit/{{customer.id}}">Editar</a>
          <button class="btn btn-danger" (click)="deleteCustomer(customer.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  @if (currentTheme !== 'dark') {
    <button
      (click)="changeTheme('dark')"
      type="button"
      class="block font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
    >
      <span class="group inline-flex shrink-0 justify-center items-center size-9">
        <mat-icon>dark_mode</mat-icon>
      </span>
    </button>
  }
  
  @else {
    <button
      (click)="changeTheme('light')"
      type="button"
      class="block font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
    >
      <span class="group inline-flex shrink-0 justify-center items-center size-9">
        <mat-icon>light_mode</mat-icon>
      </span>
    </button>
  }
</div>